In [10]:
import numpy as np

In [18]:
import pandas as pd

data = {
    'Category': ['A', 'A', 'B', 'B', 'B', 'C'],
    'Value': [10, 15, 20, 25, 30, 35]
}

df = pd.DataFrame(data)

In [25]:
df.groupby('Category')['Value'].transform('sum')

0    25
1    25
2    75
3    75
4    75
5    35
Name: Value, dtype: int64

In [19]:
# Calculate the mean value within each category
df['MeanValue'] = df.groupby('Category')['Value'].transform('mean')

print(df)

  Category  Value  MeanValue
0        A     10       12.5
1        A     15       12.5
2        B     20       25.0
3        B     25       25.0
4        B     30       25.0
5        C     35       35.0

In [15]:
df2 = df['Value'].transform({"AClac" : lambda x : x + 2,"BClac" : lambda x : x + 3 })
df = pd.concat([df, df2], axis=1)

In [17]:
df.head()

  Category  Value  MeanValue  AClac  BClac
0        A     10       12.5     12     13
1        A     15       12.5     17     18
2        B     20       25.0     22     23
3        B     25       25.0     27     28
4        B     30       25.0     32     33